@import "/src/app/utilities/main";

.container {
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 20px;
  width: 92vw;
  height: 95%;
  display: flex;
  flex-direction: column;


  .header {
    width: 100%;
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    border-bottom: 1px #dbdbdb solid;

    &__overall {
      width: 100%;
      display: flex;
      flex-direction: row;


      &--tittle {
        font-size: 24px;
        margin-left:3%;
      }
      &--icon {
        font-size: 28px;
      }
    }

    &__navi {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }

  .friends-list {
    width: 100%;
    padding: 15px;

    .friend {
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      display: grid;
      grid-template-columns: 5% 2% 90%;
      box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.25);
      border-radius: 15px;

      &__name {
        font-size: 18px;
      }

      &__options {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        &--call {
          width: 35px;
          height: 35px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          color: #00af00;
          background-color: #00af0031;
        }

        &--chat {
          color: #3559bd;
          font-size: 35px;
          margin-left: 5px;
        }
      }
    }
  }
}
