.container {
   width: 100%;
   height: 94%;
   display: flex;

   app-friends-card-presenter {
      width: 25%;
   }

   app-chat-card-presenter {
      margin-left: 20px;
      width: 50%;
   }

   app-operation-card-presenter {
      width: 18%;
      margin-left: 20px;
   }
}
