<div class="container">
  <div class="menu">
    <button mat-icon-button class="menu__option">
      <mat-icon class="menu__option--icon">chat</mat-icon>
    </button>
    <button mat-icon-button  class="menu__option">
      <mat-icon class="menu__option--icon">people</mat-icon>
    </button>
    <button mat-icon-button class="menu__option">
      <mat-icon class="menu__option--icon">person</mat-icon>
    </button>
    <button mat-icon-button class="menu__option">
      <mat-icon class="menu__option--icon">local_post_office</mat-icon>
    </button>
  </div>
</div>
