.container {
  height: 100%;
  margin-right: 20px;
  background-color: #fff;
  box-shadow: 14px 0px 21px -12px rgba(0, 0, 0, 0.74);


  .menu {
    &__option {
      margin-bottom: 20px;
      margin-left: 0;

      &--icon {
        font-size: 32px;
      }
    }
  }
}


