<div class="container">
  <!-- <div class="language-menu">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>language</mat-icon>
    </button>    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="switchLanguage('pl')">PL</button>
      <button mat-menu-item (click)="switchLanguage('en')">EN</button>
    </mat-menu>
  </div> -->
  <div class="user">
    <img class="user__profile"
      src="https://media1.s-nbcnews.com/i/newscms/2015_02/835681/150106-mia-khalifa-830a_bcc977bc287eeeb9c3148b332b0e1a7b.jpg">
      <button mat-icon-button [matMenuTriggerFor]="activity" class="user__activity">
        <mat-icon [ngClass]="{
          'online': status == 1,
          'away': status == 2,
          'not-disturb': status == 3
         }">brightness_1</mat-icon>
      </button>
      <mat-menu #activity="matMenu">
        <button mat-menu-item (click)="setStatus(1)">
          <mat-icon class="online">brightness_1</mat-icon>
          <span>{{'online' | translate}}</span>
        </button>
        <button mat-menu-item (click)="setStatus(2)">
          <mat-icon class="away">brightness_1</mat-icon>
          <span>{{'afk' | translate}}</span>
        </button>
        <button mat-menu-item (click)="setStatus(3)">
          <mat-icon class="not-disturb">do_not_disturb_on</mat-icon>
          <span>{{'dnd' | translate}}</span>
        </button>
      </mat-menu>
    <div class="user__about">
      <p class="user__about--name">{{username}}</p>
      <p class="user__about--description">description</p>
    </div>
  </div>
</div>
