
.online {
  font-size: 12px;
  color: #00af00;
}

.offline {
  font-size: 12px;
  color: gray;
}

.away {
  font-size: 12px;
  color: #c5c501;
}

.not-disturb {
  font-size: 12px;
  color: #9b1a1a;
}
